!!!
%html
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "css/vendor/milligram.css"}
    %link{ rel: "stylesheet", type: "text/css", href: "css/style.css"}
  %body
    .cont
      %h2 Sign in with Clef
      :ruby
        clef_options = {
          "data-app-id"       => settings.clef_app_id,
          "data-redirect-url" => "http://#{request.env["HTTP_HOST"]}/login",
          "data-state"        => @state,
        }

      - if logged_in?
        %h4
          Logged in as
          = current_user.fetch :id

        - if current_user[:email]
          %p email: #{current_user[:email]}

        %a{ href: "/logout" } Logout

      - else
        :css
          .clef-centered { margin-left: 90px; }
        %svg.clef-centered{ height: 20, width: 20 }
          %path{ d: "M0 0 L10 15 L20 0", fill: "#39c" }
        %script.clef-button{ src: "https://clef.io/v3/clef.js", type: "text/javascript" }.merge(clef_options) }
        %svg.clef-centered{ height: 20, width: 20 }
          %path{ d: "M0 20 L10 5 L20 20", fill: "#39c" }

      .s40
      %p
        %a{ href: "https://github.com/makevoid/try_clef" } makevoid/try_clef
        on github
